body {
  font-family: Arial, Helvetica, sans-serif;
}
.form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.form-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
input {
  font-size: 30px;
}
label {
  font-size: 30px;
}
.center-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
form {
  display: flex;
  flex-direction: column;
}
#button,
button {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;

  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s all;
  font-size: 25px;
  width: 250px;
  text-align: center;
}
#button:hover,
button:hover {
  transform: scale(110%);
  
  
}
#login-form {
  display: none;
}
#register-form {
  display: none;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.button-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.form-container {
  animation: scaleUp 0.2s;
}

@keyframes scaleUp {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

input {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555); */
}
form {
  gap: 10px;
}
.return-button {
  padding: 10px 120px !important;
}
